{% extends "layout.html" %}

{% block title %}
    Piechart
{% endblock %}

{% block main %}
    <div>
        <div style="margin-bottom: 4%;">
            <form action="/piechart" method="POST">
                <div>Month & Year:</div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="date" type="month">
                </div>
                <button class="btn btn-primary" type="submit">Enter</button>
            </form>
        </div>
    </div>


    <div style="display: flex; justify-content: center; align-items: center;">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ctx = document.getElementById('myChart').getContext('2d'); // Canvas context

        // Initialize the chart with empty data
            const chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Spending',
                        data: [],
                        backgroundColor: [],
                        hoverOffset: 10
                    }]
                }
            });

            async function checkDatabase(event) {
                event.preventDefault(); // Prevent the default form submission

                try {
                    const response = await fetch('/piechartdata', {
                        method: 'POST',
                        body: new FormData(document.querySelector('form'))
                    });

                // Check if response is ok
                    if (!response.ok) {
                        const errorData = await response.json();
                        alert(`Error: ${errorData.error}`);
                        return;
                    }

                    const data = await response.json();

                    console.log('Received data:', data);

                // Update the chart with new data
                    chart.data.labels = data.labels;
                    chart.data.datasets[0].data = data.data;
                    chart.data.datasets[0].backgroundColor = data.backgroundcolor;
                    chart.update();
                } catch (error) {
                    console.error('Error fetching data:', error); // Handle any other errors
                }
            }

        // Set up the form submit event listener
            document.querySelector('form').onsubmit = checkDatabase;
        });
    </script>

{% endblock %}
